<h2>Начисления</h2>
<h4>Отчет показывает начисления по периодам за текущий год</h4>
<br>
<% if (getMonthlyAccruals().length !== 0) { %>
<% let currentPeriod = ""; %>
<% let totalAccrued = 0; %>
<% let totalNdfl = 0; %>
<% let totalTotal = 0; %>

<% for (let i = 0; i < getMonthlyAccruals().length; i++) { %>
<% const detail = getMonthlyAccruals()[i]; %>

<% if (currentPeriod !== detail.period) { %>
<% // Сбрасываем счетчики итоговых сумм для нового периода %>
<% currentPeriod = detail.period; %>
<% totalAccrued = 0; %>
<% totalNdfl = 0; %>
<% totalTotal = 0; %>

<h3><%= currentPeriod %></h3>
<table class="sl-table">
    <tr class="sl-table__head">
        <th class="sl-table__head-cell">Специализация</th>
        <th class="sl-table__head-cell">Заказчик / Проект</th>
        <th class="sl-table__head-cell">Задача</th>
        <th class="sl-table__head-cell">Задание</th>
        <th class="sl-table__head-cell">Роль</th>
        <th class="sl-table__head-cell">Начислено</th>
        <th class="sl-table__head-cell">Налог</th>
        <th class="sl-table__head-cell">На руки</th>
    </tr>
    <% } %>

    <tr class="sl-table__line">
        <td class="sl-table__line-cell"><%= detail.specialization %></td>
        <td class="sl-table__line-cell"><%= detail.client_project %></td>
        <td class="sl-table__line-cell"><%= detail.projectTask %></td>
        <td class="sl-table__line-cell"><%= detail.task %></td>
        <td class="sl-table__line-cell"><%= detail.role %></td>
        <td class="sl-table__line-cell"><%= detail.accrued %></td>
        <td class="sl-table__line-cell"><%= detail.ndfl %></td>
        <td class="sl-table__line-cell"><%= detail.total %></td>
    </tr>

    <% // Суммируем начисления для текущего периода %>
    <% totalAccrued += detail.accrued; %>
    <% totalNdfl += detail.ndfl; %>
    <% totalTotal += detail.total; %>

    <% // Если это последняя запись или следующий период отличается, выводим итоги %>
    <% if (i === getMonthlyAccruals().length - 1 || detail.period !== getMonthlyAccruals()[i + 1].period) { %>
    <tr class="sl-table__total">
        <td class="sl-table__total-cell">Итого</td>
        <td class="sl-table__total-cell"></td>
        <td class="sl-table__total-cell"></td>
        <td class="sl-table__total-cell"></td>
        <td class="sl-table__total-cell"></td>
        <td class="sl-table__total-cell"><%= totalAccrued.toFixed(2) %></td>
        <td class="sl-table__total-cell"><%= totalNdfl.toFixed(2) %></td>
        <td class="sl-table__total-cell"><%= totalTotal.toFixed(2) %></td>
    </tr>
</table>
<br>
<% } %>
<% } %>
<% } else { %>
<h2>Данные отсутствуют</h2>
<% } %>
